.pio
.clang_complete
.gcc-flags.json
*Thumbs.db
/data/www
/interface/build
/interface/node_modules
/interface/.eslintcache
.vscode
node_modules
/releases
/src/certs
/temp
/build/firmware
/lib/framework/WWWData.h
lib/framework/WWWData.h
*WWWData.h
ssl_certs/cacert.pem
/logs
interface/.idea/
build
.idea
platformio.ini
site
scripts/__pycache__
package.json
package-lock.json
rectification_calculator.js
tools/coredump.bin
