.pio
.clang_complete
.gcc-flags.json
*Thumbs.db
/data/www
/interface/build
/interface/node_modules
/interface/.eslintcache
.vscode
node_modules
/releases
/src/certs
/temp
/build/firmware
/lib/framework/WWWData.h
*WWWData.h
lib/framework/WWWData.h
ssl_certs/cacert.pem
/logs
interface/.idea/workspace.xml
.idea/.gitignore
.idea/editor.xml
.idea/misc.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
interface/.idea/.gitignore
interface/.idea/prettier.xml
interface/.idea/vcs.xml
interface/.idea/codeStyles/codeStyleConfig.xml
interface/.idea/codeStyles/Project.xml
interface/.idea/inspectionProfiles/Project_Default.xml
.idea
build/*