name: Deploy MkDocs
on:
  push:
    branches:
      - master
      - main
      - edit_docs

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install dependencies
        run: |
          pip install mkdocs-material
          pip install mkdocs-git-committers-plugin-2
          
      - name: Build and Deploy
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          mkdocs gh-deploy --force